<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid col-lg-3 col-md-12 d-md-flex px-3">
    <a class="navbar-brand m-0" href="/pages/home/index.html">
      <img src="/images/logo.png" alt="logo" width="60" height="55" class="img d-inline-block align-text-top rounded-circle">
    </a>
  </div>
  <button class="navbar-toggler m-auto my-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" nav nav-justified navbar-nav col-lg-9 col-md-12 mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/pages/home/index.html" id="headerHome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/shop/shop.html" id="headerShop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about/about.html" id="headerAboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/contact/contact.html" id="headerContactUs">Contact Us</a>
      </li>        
  </div>      
</nav>