<link rel="stylesheet" href="/template/shoppingCart/shoppingCart.css"/>

<script src="/template/shoppingCart/shoppingCart.js"></script>

<!--  Shopping Cart template-->
<div class="buttonWrapper" data-bs-toggle="modal" href="#exampleModal">
    <img src="/images/shopping-cart-icon.png" width="45" height="45">
    <div class="numberOfItems">0</div>    
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable to modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <!-- Section for Items -->
                No Items... Please add items to your cart.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
                </button>
                <button
                type="button"
                class="btn btn-primary"
                onclick="location.href='/Checkout/checkout.html'"
                >
                Continue to Checkout
                </button>
            </div>
        </div>
    </div>
</div>
