body {
    font-family: Arial, sans-serif;
  }
.game {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.game img {
    max-width: 100px;
    margin-right: 10px;
}